.cart{
    height: 70%!important;
    width: 70%!important;
 }
/* .CartCard{
    border: #0e0505 solid 2px;
    border-top: 8px!important;
    padding-top: -5px;
} */

span{
    border: springgreen solid 2px;
}

.badge{
    border: 2px solid #ff0000;
    border-radius: 20px!important;
    width: 25px;
    background-color: #ff0000;
    position: absolute;
    margin-top: 12px;
  }

  .ProductImg{
      width: 50px!important;
      height: 50px;
  }

  
