.specialoffer img{
    width: 50%;
    height: 350px;
   margin: auto!important;
}
.specialoffer{
    display: flex;
    justify-content: space-between;
    /* border: black solid 20px ; */
    width:100%;
    height: 500px;
  }
.specialofferData{
    display: flex;
    height:90%!important;
    /* border: springgreen solid; */
    margin: auto!important;
}

.specialofferData button{
    width: 70%;
    height: 30px;
    font-size: 15px!important;
    padding-top:0px!important;
    margin-right: 10px!important;
    margin-top: 20px;
}

.information{
  margin: auto!important;
    /* border: blueviolet solid 1px; */
    height: 200px;
    padding: 15px!important;
    
}